<!-- Bootstrap navbar design code -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Collection Media App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- For Conditional Rendering - We are Using Modern Angular Control Flow instead of old *ngIf() directives -->
        <!-- True- then Home/Collections/Profile/logout is visible or False- then they are invisible and Intro/Register/Login is visible -->
        @if(isLoggedIn()){
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <!-- Only for Admins - this NavLinks are available -->
          <li class="nav-item dropdown" *ngIf="isAdmin()">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Collections
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Show All Collections</a></li>
              <li><a class="dropdown-item" routerLink="/collections/add-collection" routerLinkActive="active">Add Collection</a></li>
            </ul>
          </li>
          <!-- For logged-IN User -->
          <li>
            <button class="btn btn-primary">{{name()}}</button> <!-- Profile button- with user name-->
            <button type="button" (click)="logout()" class="btn btn-outline-danger">Logout</button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Intro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>