/* Navbar css */
.navbar {
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
  background-color: #3e474f !important;
}

.navbar a {
    color: #f5f5f5;
}

.navbar a:hover {
    color: #000000;
}

.dropdown-menu {
    --bs-dropdown-min-width: 8rem;
    background: #2b3d3d !important;
}