<div class="row">
  <div class="col-12 col-lg-8" style="margin: auto;">
    <div class="panel-card">
      <h2 class="panel-card__title"><i class="pi pi-cog"></i> Settings</h2>

      <div class="mt-4">
        <div class="setting-toggle-row">
          <span>Dark Mode</span>
          <p-toggleswitch [(ngModel)]="darkMode"></p-toggleswitch>
        </div>

        <button pButton type="button" label="Save Settings" class="w-100 save-btn mt-3" (click)="saveSettings()"></button>
      </div>
    </div>
  </div>
</div>
