<div class="container" style="padding: 10px;">
    <h2 class="text-center" style="font-size: medium;">Update Collection Form</h2>
    <form [formGroup]="updateCollectionForm" (ngSubmit)="updateCollection()">
        <!-- section to show error msg from backend if form submission fails -->
        <div *ngIf="errorNotification.show" class="text-danger mb-3">
            {{ errorNotification.text }}
        </div>
        <!-- Collection Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" required />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger mt-2">
                <div *ngIf="name.errors?.['required']">name is required.</div>
            </div>
        </div>
        <!-- Collection Category -->
        <div class="mb-3">
            <label class="form-label">Category</label>
            <p-select [options]="categories" optionLabel="label" optionValue="value" formControlName="category"
                placeholder="Select Category" class="w-100">
            </p-select>
            <div *ngIf="category.invalid && (category.dirty || category.touched)" class="text-danger mt-2">
                <div *ngIf="category.errors?.['required']">Please select a category type.</div>
            </div>
        </div>
        <!-- Collection Rating -->
        <div class="mb-3">
            <label for="rating" class="form-label">Rating from 1 to 5</label>
            <!-- Here Rating will be btw 1 to 5 and oninput → If user types more then 5, it automatically changes to 5. -->
            <input type="number" class="form-control" id="rating" formControlName="rating" 
              min="1" max="5" oninput="this.value = this.value > 5 ? 5 : this.value" required />
            <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="text-danger mt-2">
                <div *ngIf="rating.errors?.['required']">rating is required.</div>
                <div *ngIf="rating.errors?.['min']" class="text-danger">
                    Rating cannot be less than 1
                </div>
                <div *ngIf="rating.errors?.['max']" class="text-danger">
                    Rating cannot be greater than 5
                </div>
            </div>
        </div>
        <!-- Collection Review -->
        <div class="mb-3">
            <label for="review" class="form-label">One Line Review</label>
            <input type="text" class="form-control" id="review" formControlName="review" required />
            <div *ngIf="review.invalid && (review.dirty || review.touched)" class="text-danger mt-2">
                <div *ngIf="review.errors?.['required']">review is required.</div>
            </div>
        </div>
        <!-- Collection Progress -->
        <div class="mb-3">
            <label class="form-label">Progress</label>
            <p-select [options]="progressData" optionLabel="label" optionValue="value" formControlName="progress"
                placeholder="Select Category" class="w-100">
            </p-select>
            <div *ngIf="progress.invalid && (progress.dirty || progress.touched)" class="text-danger mt-2">
                <div *ngIf="progress.errors?.['required']">Please select a category type.</div>
            </div>
        </div>
        <!-- Collection Privacy -->
        <div class="mb-3">
            <label class="form-label">Privacy/Visibility of Collection</label>
            <p-select [options]="privacyData" optionLabel="label" optionValue="value" formControlName="privacy"
                placeholder="Select Category" class="w-100">
            </p-select>
            <div *ngIf="privacy.invalid && (privacy.dirty || privacy.touched)" class="text-danger mt-2">
                <div *ngIf="privacy.errors?.['required']">Please select a category type.</div>
            </div>
        </div>
        <!-- Collection Image- TODO- Make image field optional on both frontend and backend -->
         <div class="mb-3">
            <label for="image" class="form-label">Collection Image</label>
            <input type="file" class="form-control" id="image" formControlName="imagename"
            (change)="onFileSelected($event)" />
         </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Update Collection</button>
            <!-- Cancel button used for closing the Popup/Dialog if user not want to update collection -->
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>