<div class="container">
    <!-- Add Category Form logic -->
    <div>
        <h2 class="text-center">Add Category Form</h2>
        <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
            <!-- section to show error msg from backend if form submission fails -->
            <div *ngIf="errorNotification.show" class="text-danger mb-3">
                {{ errorNotification.text }}
            </div>
            <!-- Category Name -->
            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryName" formControlName="categoryName" required />
                <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)"
                    class="text-danger mt-2">
                    <div *ngIf="categoryName.errors?.['required']">Category name is required.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Add Category</button>
        </form>
    </div>
    <!-- Category List logic -->
    <div>
        <h2 class="text-center">Category List</h2>
        @if (loading()) {
        <div class="results-state">
            <p-progressSpinner strokeWidth="4" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
        } @else {
            <!-- async pipe used for safely retrieving async data from parent or to wait until async data is complete -->
        <p-table [value]="(categoriesDataObservable() | async) || []" responsiveLayout="scroll"
            class="p-datatable-striped" [tableStyle]="{'min-width':'50rem'}">

            <ng-template pTemplate="header">
                <tr>
                    <th >#</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th >Delete</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>

                    <td>
                        @if(isEditMode(category.categoryId)) {
                        <input pInputText class="w-100" name="name{{category.categoryId}}" [(ngModel)]="newCategoryName"
                            required minlength="1" #c="ngModel">

                        <small *ngIf="c.invalid && (c.dirty || c.touched)" class="text-danger">
                            Name required
                        </small>
                        } @else {
                        {{ category.categoryName }}
                        }
                    </td>

                    <td>
                        @if(isEditMode(category.categoryId)) {

                        <button pButton type="button" icon="pi pi-check" label="Update" class="p-button-success me-2"
                            (click)="updateCategory(category.categoryId, newCategoryName)">
                        </button>

                        <button pButton type="button" icon="pi pi-times" label="Cancel" class="p-button-secondary"
                            (click)="cancelEdit()">
                        </button>

                        } @else {

                        <button pButton type="button" icon="pi pi-pencil" label="Edit"
                            (click)="editCategory(category.categoryId, category.categoryName)">
                        </button>

                        }
                    </td>

                    <td>
                        <button pButton type="button" icon="pi pi-trash" severity="danger"
                            (click)="deleteCategory(category)">
                        </button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center">
                        No categories found.
                    </td>
                </tr>
            </ng-template>

        </p-table>
        }
    </div>
</div>